{% extends 'intro.njk' %}

{% block introtitle %}
About the author
{% endblock %}

{% block introbody %} 
<img src="avatar.jpg" class="float-left mr-3 mr-2  w-1/4 max-w-48" alt="Should You Become a Software Developer - A book you should read before you decide to learn to code - Łukasz Marek Sielski"/>
Łukasz Marek Sielski, Polish living in the United Kingdom. Professional Software Developer for over two decades. Lead and manager for more than 11 years. Experienced in startups and large organisations. Worked for Time Inc., Nokia, WAYN and MailOnline.

<div class="flex justify-center gap-4">
    <a class="flex-0 text-blue-700 underline" target="_blank" href="https://twitter.com/coderebased">Twitter Profile</a>
    <a class="flex-0 text-blue-700 underline" target="_blank"href="https://linkedin.com/in/sielay">LinkedIn Profile</a>
</div>
{% endblock %}