{% extends 'intro.njk' %}

{% block introtitle %}
A book you should read before you decide to learn to code
{% endblock %}

{% block introbody %} 
<img src="cover.png" class="float-left mr-3 mr-2 w-1/2 max-w-4" alt="Should You Become a Software Developer - A book you should read before you decide to learn to code - Łukasz Marek Sielski"/>

<div class="text-xl text-orange-500 font-bold text-underline">Buy now on Amazon eBook/Print/Hard Cover</div>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.com/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon USA">USA</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.co.uk/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon UK">United Knigdom</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.it/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Italy">Italy</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.de/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Germany">Germany</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.fr/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon France">France</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.es/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Spain">Spain</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.nl/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Netherlands">Netherlands</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.co.jp/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Japan">Japan</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.ca/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Canada">Canada</a>
<a class="border bg-orange-400 text-black px-2 py-1 mr-1" href="https://www.amazon.com.a/gp/product/B0B3LP8Z8M" target="_blank" title="Should You Become a Software Developer - buy on Amazon Australia">Australia</a>


Nowadays, wherever you look, you're told to learn to code. You can see people who earn good money by typing on their keyboards for days long. Our children are taught programming at school, and you start feeling left behind. You make a big decision: I want to become a developer. But how?
I would argue that you should ask different questions. Why? What? Is it for me? What if I fail? What next?

This site is a resource that accompanies the book I'm working on that answers those questions.


{% endblock %}