{% extends 'intro.njk' %}

{% block introtitle %}
A prequel to learn-to-code books in a rapidly changing world
{% endblock %}

{% block introbody %} 
<img src="cover_small.jpg" class="float-left mr-3 mr-2 border border-gray-300" alt="Becoming a Software Developer - A prequel to learn-to-code books in a rapidly changing world - Łukasz Marek Sielski"/>
Nowadays, wherever you look, you're told to learn to code. You can see people who earn good money by typing on their keyboards for days long. Our children are taught programming at school, and you start feeling left behind. You make a big decision: I want to become a developer. But how?
I would argue that you should ask different questions. Why? What? Is it for me? What if I fail? What next?

This site is a resource that accompanies the book I'm working on that answers those questions.
{% endblock %}