<header class="fixed w-full z-10 top-0 shadow-2xl font-navigation bg-black text-gray-100">
    <div class= "w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">
        <div class="pl-4">
            <a href="/" class="text-base no-underline hover:no-underline font-extrabold text-lg lg:text-xl">
                 Should You Become a Software Developer?
            </a>
        </div>
    </div>
</header>
