<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 md:bg-transparent z-20 lg:block">
    <ul class="lg:flex justify-end flex-1 items-center">
        <li>
            <a class="ml-2"href="https://www.tiktok.com/@shouldyoubecome" target="_blank" title="Should You Become a Developer on TikTok">TikTok</a>
            <a class="ml-2"href="https://www.youtube.com/channel/UChzpCoVwXu2ii_UQkuGEQGQ" target="_blank" title="Should You Become a Developer on YouTube">YouTube</a>
            <a class="ml-2"href="https://www.instagram.com/shouldyoubecomedeveloper/" target="_blank" title="Should You Become a Developer on Instagram">Instagram</a>
            <a href="/blog" class="ml-2">Resources</a>
            <a href="/feed.xml" class="ml-2">RSS</a>
        </li>
        {%- for page in collections.topNav -%}
            <li>
                <a href="{{ page.url }}" class="ml-2">{{ page.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</div>