<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 md:bg-transparent z-20 lg:block">
    <ul class="lg:flex justify-end flex-1 items-center">
        <li>
            <a href="/blog" class="ml-2">Resources</a>
            <a href="/feed.xml" class="ml-2">RSS</a>
        </li>
        {%- for page in collections.topNav -%}
            <li>
                <a href="{{ page.url }}" class="ml-2">{{ page.data.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</div>