{% include 'pagination.njk' %}
{% include 'categories.njk' %}
<ul>
{%- for post in postslist.items -%}
  <li>
    {%- include 'tile.njk' -%}
  </li>
{%- endfor -%}
</ul>
{% include 'tagcloud.njk' %}
{% include 'pagination.njk' %}

