{% extends 'intro.njk' %}

{% block introtitle %}
Preface to the book
{% endblock %}

{% block introbody %}
<div class="blog px-4">

When I took on the journey to write this book, I thought it would be a straightforward task. I knew what I wanted to say and what message to send. I sat down, drafted a plan, researched, and started to type. Then, suddenly, the whole world stopped. Worldwide pandemic has put everything I knew into question. Most of the data I collected was obsolete. The reality for many has turned upside down. People started to work remotely, and office politics faded away. The importance of communication zoomed. Industries that have avoided technology became desperate for digital transformation. In some sectors, redundancies hit the levels of the Dot-com bubble of the 2000ties. Some grew massively.

I started from scratch five times, but the world did not stop changing. Some already forgot about the pandemic, while it’s not entirely gone. War has erupted in Ukraine, transforming global politics, and a few paragraphs in this book. The world kept moving in an unknown direction. Finally, I got an idea of how far changes could go. Unlike many other sectors, not much has changed in software. IT departments were already leading in connectivity, asynchronous and remote work. Their skills were in insane demand before. Specifics might have moved a bit, but the essentials stood.

Perhaps the most significant change was a definite shift towards the remote and hybrid forms of working. But that could have been expected after people understood the value of a healthier life-work balance during the pandemic.

War has proven how resilient the market is. Ukraine was and still is a vital software house in Europe. You can see people fighting for independence in the daytime and coding for work in the evening from inside the bunker. Many talents have left Russia and Belarus, leaving a void. A void enlarged by the demand for local copies of services blocked over several dates. New ideas and markets emerged. When I started to write this book, blockchain was the cool kid on the block. Now it’s metaverse, NFT and Web3. IT and data will be good career choices for a long time, and last years have proven it.

I have read through the draft and was satisfied. But I still had some doubts. Do I deliver the promise? Does the title (formerly: Becoming a Software Developer, a prequel to learn-to-code books in a rapidly changing world) explain what I want to achieve? I wasn’t sure. Imposter syndrome kicked in, and I wanted to bin it.

Then my brother called me and asked me for some advice. He was about to change his job and considered a significant career move. As I’d tell you later, he greatly influenced mine. He had spent years providing IT support for various employers, yet he did not appreciate his experience and skills. He asked the question that usually much younger friends of mine asked: which programming language should I learn?

I wasn’t sure. I knew that it varies a lot. I wanted to think it through.

And then I got a moment of enlightenment.

The answer to the question in the current title of this book (Should you become a software developer?) for many would be: no. Should you learn to code? Possibly. Are there good alternatives in the IT-sphere alone? Absolutely.

I changed to order of the book to give a more accent on the variety of possibilities. Thanks to that (I hope), no matter which answer will suit you most, you may find the rest of this story valuable. Multiple professions use the same situations and tools. Knowledge of others may help you work with developers, even if you won’t peruse their path.

For most, I hope I will help you decide if it’s worth putting much of your time, effort and possibly money into a career that may or may not be best for you. 
</div>
{% endblock %}