<div class="w-full lg:max-w-full lg:flex shadow-lg mb-5">
    <div class="bg-white w-full rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="grid grid-cols-5 gap-4 text-xl">
            <a
                class="ml-2 hover:underline text-center"
                href="https://www.tiktok.com/@shouldyoubecome"
                target="_blank"
                title="Should You Become a Developer on TikTok">
                <i class="cib-tiktok"></i>
            </a>
            <a
                class="ml-2 hover:underline text-center"
                href="https://www.youtube.com/channel/UChzpCoVwXu2ii_UQkuGEQGQ"
                target="_blank"
                title="Should You Become a Developer on YouTube">
                <i class="cib-youtube"></i>
            </a>
            <a
                class="ml-2 hover:underline text-center"
                href="https://www.instagram.com/shouldyoubecomedeveloper/"
                target="_blank"
                title="Should You Become a Developer on Instagram">
                <i class="cib-instagram"></i>
            </a>
            <a
                class="ml-2 hover:underline text-center"
                href="https://www.twitter.com/coderebased"
                target="_blank"
                title="Should You Become a Developer on Twitter">
                <i class="cib-twitter"></i>
            </a>
            <a
                class="ml-2 hover:underline text-center"
                href="https://linkedin.com/in/sielay"
                target="_blank"
                title="Łukasz Marek Sielski - Should You Become a Developer on LinkedIn">
                <i class="cib-linkedin"></i>
            </a>
        </div>
    </div>
</div>